html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
padding:0px;
margin:0px;
}

.wrapper{
width:100%;
height:auto;
margin:auto;

}

.header{
width:100%;
height:90px;
background-color:#993333;
color:white;
position:relative;

}

#search{
width:500px;
height:50px;
margin:0px;
top:10px;
left:320px;
position:absolute;
color:red;
font-size:22px;
}

#search_prod{
width:150px;
height:50px;
background-color:black;
color:white;
top:15px;
position:absolute;
left:840px;
margin:0px;
border-radius:20px;

}
.vertical_line{
border-left:2px solid #ff0000;
height:70px;
top:15px;
left:1020px;
position:absolute;


}

.cart {
top:0px;
left:15px;
position:absolute;


}
#cart_text{
top:0px;
left:60px;
position:absolute;
color:yellow;
}
.cart img{
height:75px;
width:75px;

}
.line{
border-left:2px solid #ff0000;
height:70px;
top:15px;
left:1130px;
position:absolute;
display:inline;
}

.sign{
top:15px;
left:30px;
position:absolute;
display:inline;
font-size:20px;

}
.sign a{
color:white;
text-decoration:none;}

.img{
top:2px;
left:80px;
position:absolute;
}

.nav{
width:100%;
height:50px;
background-color:#107374;
color:white;
margin:0px;

}

.content{
width:100%;
height:auto;
word-wrap:break-word;
}

#left_content{
width:18%;
height:auto;
background-color:#eed7e1;
color:white;
float:left;
margin:2px;
border-radius:10px;
}

#right_content{
border-radius:10px;
width:80%;
height:auto;
background-color:#dff3f3;
float:right;
margin:2px;
word-wrap:break-word;
max-width:100%;
max-height:100%;
}
.footer{
border-radius:15px;
width:100%;
height:80px;
background-color:#ebb2ca;
color:black;
clear:both;

}

#menu{
line-height:45px;
padding:0px;
margin:0px;

}

#menu li{

display:inline;}

#menu li a{
text-decoration:none;
margin:35px;
color:white;}

#menu li a:hover{
color:#2da849;
font-weight:bolder;
}

#slideshow{
margin-left:20px;
margin-top:30px;
width:100%;
height:100%;

}

#sidebar_tit{
background-color:#b3cab9;
color:black;
font-size:20px;
display:block;
padding:20px;

}

#category{
text-align :center;
color:black;
}

#category li{
list-style:none;
padding:10px;
font-size:20px;
font-family:courier;

}
#category li a{text-decoration:none;margin:5px;color:black;}
#category li a:hover{font-weight:bolder;color:green;}

#product_box{
width:100%;
height:auto;
margin-left:10px;
margin:right:30px;
margin-bottom:10px;
text-align:center;

}

#insertion{
font-family:Arial;
color:red;
width:250px;
word-wrap:break-word;
float:left;
position:relative;
padding:25px;
}

#details{
float:left;
margin-top:5px;
margin-left:20px;
color:orange;
text-decoration:none;
}

#details:hover{
color:black;
text-decoration:underline;}

#but{
float:right;
margin-top:5px;
}

#desc{
font-family:Arial;
color:red;
width:65%;
float:right;
padding:15px;
word-wrap:break-word;
height:auto;
margin:2px;
}

#slidedesc{
margin-top:10px;
height:auto;
float:left;

}
#fadedesc{
margin-top:10px;
height:auto;
float:left;

}

#heading{
color:black;
font-size:20px;
}

.right_content{
width:1000px;
height:auto;
word-wrap:inherit;

}

#new{
width:150px;
height:50px;
background-color:black;
margin:2px;
margin-left:50px;
color:red;
float:left;}

#table{
width:100%;
height:auto;
background-color:#cdd8e7;
margin:0px;


}

#pic{
max-width:100%;
max-height:100%;
float:left;
}

#shopping_cart{
width:100%;
height:60px;;
font-size:25px;
background-color:#d5f3f1;
color:red;
border-radius:10px;
text-align:center;
line-height:55px;
}

#floating{
float:left;
margin:5px;}

#cart_desc{
font-family:Arial;
color:red;
margin-left:200px;
width:200px;
height:auto;

}
#cart_desc a:hover{
color:red;
text-decoration:none;

}

#tr{
color:white;
line-height:50px;

}

#selection{
width:120px;
height:30px;


}

#despacito{
width:500px;
text-align:left;
}

#price{
background-color:#ebb2ca;
color:black;
font-size:20px;
margin:5px;
padding:5px;
}

#price a{
text-decoration:none;}

#up{
width:200px;
height:60px;
color:red;
font-size:20px;
}

#up1{
width:200px;
height:60px;
color:red;
font-size:20px;
opacity:0.5;
}

#price1{
background-color:#ebb2ca;
color:black;
padding:5px;
font-size:20px;
margin:5px;
}

input[type=checkbox] {
-webkit-transform: scale(2);
}
.padding{

        margin:20px;
        padding:5px;
    }



.form-body{
margin:25px;
}

.form-content{
background-color:#DCF2EB;

}

.form-top-left{
width:75%;
float:left;

}

.form-top-right{
width:25%;
float:left;

}
.form-header{
	width:100%;
	padding: 30px;
}

.form-element{
	display: inline;
	width:100%;
}
.multi-form-wrapper{
	margin-bottom:20px;
margin:30px;

}

#main-login{
	padding-left:0px;
	padding-right: 0px;
}


.background-dark-green{background-color: #16A085;}
.background-maroon{background-color: #C0392B;}

#main-login{
	padding-left:0px;
	padding-right: 0px;
}

.glyphicon {
    font-size: 50px;
}
.glyphicon.glyphicon-user{
font-size: 20px;}

.glyphicon.glyphicon-eye-open{
font-size: 15px;}


#log{
display:inline;
font-size:25px;
}

.right{
background-color:#DCF2EB;
font-size:15px;
margin:15px;
text-align:right;

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}



.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #DCF2EB ;
    background-color: rgba(0,0,0,0.4); 
}
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.inner-addon { 
    position: relative; 
}


.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}


.left-addon .glyphicon  { left:  125px;top:12px;}



.left-addon input  {  font-size:20px;padding:22px;}
/*myaccount details*/

.background-white{background-color: #F5F7F7;}

.form-header1{
padding:30px;
width:70%;

}

.module{
width:70%;
padding:20px;
}

#listing{
padding:30px;
font-size:15px;


}

#listing li a{
text-decoration:none;
color:red;
}

.form-header2{
padding:30px;
width:100%;

}

.form{
background-color:#F5F7F7;
width:100%;
height:500px;
color:black;

}

.background-milky{background-color:#DEA5BC;}

#reg{
width:"600px";
text-align:center;
display:inline;
}

#detailing{
height:100px;

}

#ok li{
dislpay:inline;
}
#prod{

display:none;
}

#reg{
text-align:center;
}

#test{
text-align:center;
font-size:25px;
color:#ABEBC6;
}

#form3 label{
font-size:20px;
padding-right:0px;
color:red;
width:100%;

}

#form3 input{
height:60px;
width:400px;
padding:10px;
font-family:courier;

}

#solid{
border-style:10px solid red;
}
#pay{
margin-left:100px;
padding:0px;

}

#over a:hover{
text-decoration:none;

}
